.nav-link{
color: black;
}

#banner{
    display: flex;
    height: 300px;
    background: gray;
    justify-content: center;
    align-items: center;
}

section #sobrenos{
    display: flex;
    align-items: center;
    justify-content: center;
}

